h1{color: green;
    font-size: 60px;
    display: flex; justify-content: center;
    }

#counter{font-size: 80px;
display:flex;justify-content: center;}
#down, #up{font-size: 30px; }
h2{background-color: gray;
margin: 100px;
height: 400px;}
#number{ display: flex;justify-content: center;
font-size: 200px;}